/*清除元素默认的内外边距*/
* {
    margin: 0;
    padding: 0;
}
/*让所有斜体 不倾斜*/
em,
i {
    font-style: normal;
}
/*去掉列表前面的小点*/
li {
    list-style: none;
}
/*图片没有边框   去掉图片底侧的空白缝隙*/
img {
    border: 0;  /*ie6*/
    vertical-align: middle;
}
/*让button 按钮 变成小手*/
button {
    cursor: pointer;
}
/*取消链接的下划线*/
a {
    text-decoration: none;
}
button,
input {
    font-family: 'Microsoft YaHei', 'Heiti SC', tahoma, arial, 'Hiragino Sans GB', \\5B8B\4F53, sans-serif;
}
body {
    font: 12px/1.5 'Microsoft YaHei', 'Heiti SC', tahoma, arial, 'Hiragino Sans GB', \\5B8B\4F53, sans-serif;
}
.hide,
.none {
    display: none;
}
/*清除浮动*/
.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: "";
    height: 0;
}
.clearfix {
    *zoom: 1
}
/* start */
.box {
    width: 300px;
    height: 300px;
    border:10px solid #ccc;
    border-radius: 50%;
    margin:200px auto 0;
    position: relative;
}
.box div[class^=line] {
    width: 300px;
    height: 10px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0,-50%);
    background-color: #ccc;
}
.box .line2 {
    transform:translate(0,-50%) rotate(30deg)!important;
}
.box .line3 {
    transform:translate(0,-50%) rotate(60deg)!important;
}
.box .line4 {
    transform:translate(0,-50%) rotate(90deg)!important;
}
.box .line5 {
    transform:translate(0,-50%) rotate(120deg)!important;
}
.box .line6 {
    transform:translate(0,-50%) rotate(150deg)!important;
}
.box .corver {
    width: 250px;
    height: 250px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.box .center {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ccc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9999;
}
.box .hour {
    width: 8px;
    height: 70px;
    background-color:red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center bottom;
    transform: translate(-50%,-100%);
    animation: clock 43200s steps(43200) infinite;
}
.box .minute {
    width: 5px;
    height: 80px;
    background-color:green;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center bottom;
    transform: translate(-50%,-100%);
    animation: clock 3600s steps(3600) infinite;
}
.box .second {
    width: 3px;
    height: 95px;
    background-color:blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center bottom;
    transform: translate(-50%,-100%);
    animation: clock 60s steps(60) infinite;
}
@keyframes clock {
    0%{
        transform:translate(-50%,-100%) rotate(0deg);
    }
    100%{
        transform:translate(-50%,-100%) rotate(360deg);
    }
}