* {
    padding: 0;
    margin: 0;
}
.box1 {
    width: 300px;
    background-color: lightgreen;
    margin:auto;
}
h3 {
    padding: 10px;
    border-bottom: 2px solid #333;
}
p {
    background-color: skyblue;
    transition: all 1s;
    overflow: hidden;
    height: 0px;

}
.box1 span:first-child {
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
}
.box1 span {
    display: inline-block;
    margin-left: 10px;
}
.box1:hover p{
    height: 100px;
}